/* Disable inserter preview that triggers the Edit function (yes, that works) */
.components-popover .block-editor-inserter__preview-container {
    display: none;
}

.components-panel__body>.components-panel__body-title {
    background-color: #f0f0f0;
}

.interface-complementary-area hr {
    border-block-end: 1px solid #c9c9c9;
    margin-block: 1rem;
}

.components-base-control {
    margin-block-end: .5rem;
}

.components-base-control label {
    user-select: none;
    cursor: pointer;
    margin-bottom: .1rem;
}

.components-panel__body .components-panel__body-title,
.components-panel__body .components-panel__body-title:hover {
    border-block-end: .1px solid lightgray;
}

.components-panel__body.is-opened>.components-panel__body-title {
    margin-block-end: .5rem;
}

.components-panel__body .components-flex {
    gap: .1rem;
}

.media-query {
    background-color: #c7c7c7;
    padding: .5rem;
    margin-block-end: .5rem;
    position: relative;
    border-radius: .5rem;
}

.media-query .delete {
    position: absolute;
    inset-block-start: .8rem;
    inset-inline-end: .2rem;
}

.add-media-query,
.add-media {
    display: block;
    inline-size: 100%;
    margin-block-end: 1rem;
}

.media-query .components-base-control {
    margin-block-end: .5rem;
}

.components-panel__body .media-query .components-base-control:first-child .components-base-control__label {
    margin-block-end: 0;
    display: inline;
}

.components-panel__body .media-query .components-base-control:first-child .components-text-control__input {
    inline-size: 4rem;
}

.components-panel__body .media-query .components-base-control:first-child .components-base-control__field::after {
    content: " px)";
}

/* Monaco Editor */
.interface-complementary-area:has(.components-panel__row.monaco-editor:focus-within),
.interface-interface-skeleton__sidebar:has(.components-panel__row.monaco-editor:focus-within) {
    overflow: visible;
}

.components-panel__row.monaco-editor {
    inline-size: 100%;
    block-size: 5rem;
    inset-inline-end: 0;
    inset-block-end: 0;
    position: relative;
    transition: inset-inline-start .2s, inset-inline-end .2s, inset-block-start .2s, inset-inline-end .2s;
}
.components-panel__row.monaco-editor:focus-within {
    position: fixed;
    inline-size: 50vw;
    inset-inline-end: 10rem;
    block-size: 60vh;
    inset-block-end: 10rem;
    z-index: 20;
}

/* Image and image perf panel */
.delete-image {
    position: relative;
    right: calc(-100% + 1.5rem);
}
.delete-video {
    position: absolute;
    right: 16px;
    margin-top: -34px;
}
.lcp-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.set-lcp-button,
.disable-lcp-button {
    justify-content: center;
}

/* A simple utility to make text wrap. */
.white-space-normal {
    white-space: normal;
}

.components-toggle-control__help {
    margin: 0 0 5px 0;
}

/* Popins */
.blocklib-popin code {
    display: block;
}

.blocklib-popin p,
.blocklib-popin p {
    max-width: 640px;
}

.two-columns {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.codesample {
    width: calc(50% - 20px);
    background-color: oklch(0.9491 0 0);
    padding: 10px;
    box-shadow: 0px 3px 5px 0px oklch(0 0 0 / 30%);
    border-radius: 10px;
}
