
#sub-accordion-section-colors_section .customize-control,
#sub-accordion-section-typography_section .customize-control {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: baseline;
}

[data-code="site_editor_block_theme_notice"] {
    display: none;
}
