.grouping-link {
    --bgColorFallback: #dddddd;
    display: block;
    color: inherit;
    background-color: var(--bgColor, var(--bgColorFallback));
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
