.grouping-link {
    display: block;
    color: inherit;
    background-color: var(--bgColor);
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @media(prefers-reduced-motion: no-preference) {
        transition: transform .2s;
    }

    &:hover,
    &:focus-visible {
        transform: scale(1.05);
    }
}
