.stackable-link {
    font-family: var(--fontFamily);
    font-size: var(--size);
    line-height: 1.5;
    text-decoration: none;
    display: flex;
    gap: .5em;
    inline-size: -webkit-fill-available;
    inline-size: -moz-available;
    color: var(--color);
    background-color: var(--bgColor);
    padding-inline: 1em;
    padding-block: .5em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

@media(prefers-reduced-motion: no-preference) {

    .stackable-link {
        transition: background-color .2s;
    }
}

.stackable-link.-leftIcon > svg,
.stackable-link.-rightIcon > svg {
    /* Could have 2 SVGs: one left and one right. */
    inline-size: 1.5em;
    block-size: 1.5em;
    fill: var(--color);
    flex-shrink: 0;
}

.stackable-link.-rightIcon > svg:last-child {
    margin-inline-start: auto;
}

@media(prefers-reduced-motion: no-preference) {

    .stackable-link.-rightIcon > svg:last-child {
        transition: translate .2s;
    }
}

.stackable-link:hover,
.stackable-link:focus-visible,
.stackable-link.-current {
    background-color: oklch(from var(--bgColor) l c h / 70%);
    outline: none;
}

.stackable-link:hover.-rightIcon > svg:last-child,
.stackable-link:focus-visible.-rightIcon > svg:last-child {
    translate: .5em;
}
