.text {
    --colorFallback: #cccccc;
    --fontFamilyFallback: Arial, Helvetica, sans-serif;
    color: var(--color, var(--colorFallback));
    font-family: var(--fontFamily, var(--fontFamilyFallback));
    margin: 0;
    text-wrap: balance;
    hyphens: auto;
}
